*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 80%;
    margin: 10px auto;
}
.rosa{
    height: 100px;
    width: 100%;
    background-color: Orchid;
    margin-bottom: 20px;
}

.giallo{
    height: 400px;
    width: 100%;
    background-color: Khaki;
    margin-bottom: 20px;
}

.viola{
    background-color: purple;
    height: 50px;
    margin-top: 5px;
}

main .top{
    height: 60px;
}

main{
    background-color: navy;
}

.bcg{
    background-color: paleturquoise;
}

.lato-sx ,.lato-dx{
    width: 20%;
}

.col{
    margin: 10px 0;
    float: left;
    height: 400px;
}

.centro{
    width: 60%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.bcg{
    background-color: paleturquoise;
}

.centro{
    padding: 0 10px;
    width: 60%;
}

.col div{
    height: 400px;
}
